<template>
  <div class="<%= data.lowerName %>">
    <h1>{{ message }}</h1>
  </div>
</template>

<script>
  export default {
    name: '<%= data.name %>',
    mixins: [],
    data() {
      return {
        message: '<%= data.name %>',
      }
    },
    props: {},
    computed: {},
    methods: {},
    created() {},
    mounted() {},
  }
</script>

<style scoped>
  /* prettier-ignore */
  .<%=data.lowerName %> {
  }
</style>
